/*
CSS Name: The Smoothie Machine
Author: Anndriu U.
Description: Simple form that allows the user to order a smoothie, 
             which includes a number of ingredients and other suitable features. 
             Includes an "order" button that creates a smoothie object and presents it to the customer.
Version: 1.0
*/

/* --------------
     Reset Frame 
   --------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(255, 255, 255);
}

/* --------
     Grid 
   --------*/
.header { grid-area: header; }
.title { grid-area: title; }
.steps { grid-area: steps; }
.ingredient1 { grid-area: ingredient1; }
.ingredient2 { grid-area: ingredient2; }
.smoothie { grid-area: smoothie; }
.footer { grid-area: footer; }
.grid-container {
    width: 95%;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-areas:
       "header header header header"
       "title title title title"
       "steps ingredient1 ingredient2 smoothie"
       "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 180px auto auto;
}

/* ----------------
    CSS for Header 
   ---------------- */
header {
    background-color: #183867;
    color: #ffffff;
    padding: 0px 30px;
}

header h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px; 
}


/* --------------------
    CSS for main title
   -------------------- */
.title {
    display: flex; /* flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
}

.title h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #C35F29;
    font-size: 7vw;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    padding: 0px 90px 0px 90px;
}


/* ------------------------------
    CSS for instructions section
   ------------------------------ */
.steps {
    width: auto;
    height: auto;
    padding: 10px;
}

.steps p {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #183867;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
  
.step {
    margin: 20px 50px;
}
  
.step .number {
    background-color: #183867;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    font-size: 20px;
}
  
.step .text {
    overflow: hidden;
    font-size: 20px;
}


/* ------------------
    CSS for the form 
   ------------------ */
.ingredient1 {
    width: auto;
    height: auto;
    padding: 10px;
}

.ingredient2 {
    width: auto;
    height: auto;
    padding: 10px;
}

.ingredient1 p {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #183867;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.ingredient2 p {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #183867;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.item {
    margin: 20px 50px;
}
  
.item .checkbox {
    float: left;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
  
.item .text {
    overflow: hidden;
    font-size: 20px;
}


/* -------------------------
    CSS for the form button
   ------------------------- */
/* Estilos para botones deshabilitados */
button:disabled {
    opacity: 0.5; /* Reduce la opacidad del botón */
    cursor: not-allowed; /* Cambia el cursor a 'no permitido' */
    /* Otros estilos que desees aplicar */
}

.button {
    display: inline-block;
    padding: 14px 24px;
    background-color: #183867;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
}

.ingredient2 .button-container {
    text-align: center;
}


/* --------
   CSS Img
   -------- */
.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 270px;
    height: auto;
    max-width: 100%;
    padding: 10px;
}


/* --------
    Footer 
   -------- */
.footer {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    text-align: center;
    background-color: #183867;
    color: #ffffff;
    padding: 20px 0;
}
