/*
CSS Name: The Smoothie Machine
Author: Anndriu U.
Description: Simple form that allows the user to order a smoothie, 
             which includes a number of ingredients and other suitable features. 
             Includes an "order" button that creates a smoothie object and presents it to the customer.
Version: 1.0
*/

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    hyphens: auto;
    background-color: rgb(237, 237, 237);
}
